.elevate-engagement {
  padding-bottom: 40px;
  @media screen and (min-width: $desktop) {
    padding-bottom: 160px;
  }
}
.elevate-engagement__container {
  padding: 15px;
  display: flex;
  align-items: center;
  max-width: $mobile;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(255, 243, 241, 0.7),
      rgba(255, 243, 241, 0.7)
    ),
    url(images/elevate-engagement/Section-photo-1.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  @media screen and (min-width: $desktop) {
    max-width: none;
    width: $desktop;
    padding: 0 150px 0 150px;
    background: none;
  }
}
.elevate-engagement__background-container {
  display: none;
  @media screen and (min-width: $desktop) {
    display: block;
    width: calc((#{$desktop} / 2) - 150px);
    min-height: 668px;
    background-image: url(images/elevate-engagement/Section-photo@4x-1.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
  }
}
.elevate-engagement__test-container {
  @media screen and (min-width: $desktop) {
    padding-left: 80px;

    width: calc((#{$desktop} / 2) - 150px);
  }
}
.elevate-engagement__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 0.96em;
  @media screen and (min-width: $desktop) {
    font-size: 45px;
  }
}
.elevate-engagement__text {
  margin-top: 27px;
  font-size: 21px;
  line-height: 1.4em;
  letter-spacing: 0.3px;
  @media screen and (min-width: $desktop) {
    padding-right: 105px;
    font-size: 24px;
  }
}
.elevate-engagement__link {
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.56em;
}
