// BREAKPOINTS
$mobile: 320px;
$desktop: 1224px;

// COLORS
$primary-color: orangered;
$secondary-color: #818788;
$thirdly-color: #007188;

// ANIMATION
$animation-duration: 250ms;
$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

%animated-color {
  transition-duration: 250ms;
  //   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: linear;
}
